@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?3549e8');
  src:  url('icomoon.eot?3549e8#iefix') format('embedded-opentype'),
    url('icomoon.ttf?3549e8') format('truetype'),
    url('icomoon.woff?3549e8') format('woff'),
    url('icomoon.svg?3549e8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\f007";
}
.icon-user-circle-o:before {
  content: "\f2be";
}
